@font-face {
  font-family: 'Nunito Sans';
  src: url('/assets/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/assets/fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('truetype');
  font-style: italic;
}