@import "fonts";

* {
    margin: 0;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

:root {
  --black-color: #18121E;
  --white-color: #FFFFFF;
  --secondary-color: #1A3E3E;
  --yellow-color: #F2BE22;
}